body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #282B1E;
    font-size: 0.87em;
}

* {
    font-family: 'Work Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

$small: 640px;
$medium: 768px;

.wrapper {
    max-width: 67.5em;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 5.3em;
    padding: 2.8em;

    @media screen and (max-width: $small) {
        max-width: 50em;
        padding: 1.8em;
    }
}

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;


        @media screen and (max-width: $small) {
            flex-direction: column;
            gap: 2em;
        }
    }
        .brand {
           display: flex;
           align-items: center;

        }
            .favorite__icon {
                width: 2.5em;
                height: 2.5em;
                margin-left: -1em;
            }

            h3 {
                margin-bottom: 0;
                font-size: 1.45em;
                line-height: 1.5em;
                font-weight: 700;
            }

            .brand__text {
                margin-left: 1em;
                margin-top: -1em;
            }

            .brand__p {
                font-size: 1.06em;
                line-height: 1.06em;
                font-weight: 400;
            }

        .icons__list {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .icons__list-item {
                margin-left: 1.8em;
            } 
            
            .icons__list-item:nth-child(1) {
                margin-left: 0;
            }
                .header__price  {
                    margin-left: 0.6em;
                    font-size: 1.06em;
                    font-weight: 400;
                }
.search__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;

    @media screen and (max-width: $small) {
        flex-direction: column;
    }
}

    .search__block {
        border: 1px solid #F3F3F3;
        border-radius: 0.6em;
        width: 15.6em;
        height: 2.8em;
        display: flex;
        align-items: center;
        padding: 0em 0.4em;
       
    }
        input {
            border: none;
            margin-left: 0.5em;
            font-size: 1em;
        }

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.5em;
}

    .card {
        padding: 1.8em;
        border-radius: 1.2em;
        border: 1px solid #F3F3F3;
        max-width: 10em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5em;    
        transition: box-shadow 0.2s ease-in-out;

        &:hover {
            box-shadow: 0px 14px 30px 0px #0000000D;
            transform: translateY(-4p);
        }
    }

        .favorite {
            position: absolute;
            cursor: pointer;
        }

            img {
                width: 2em;
                height: 2em;
            }

        p {
            margin-top: 2em;
        }

        .price__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: none;
            max-width: 17em;
            margin-top: 2em;
        }

            .price {
                display: flex;
                flex-direction: column;
            }

                span {
                    line-height: 0.8em;
                }

                b {
                    font-weight: 700;
                    line-height: 1.06em;
                    margin-top: 0.5em;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ffffff;
                    border: 1px solid #F2F2F2;
                    border-radius: 0.5em;
                }
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
          
    .side__block {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 26em;
        height: 100%;
        right: 0;
        background-color: #ffffff;
        box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
        padding: 1.8em;

        @media screen and (max-width: $small) {
            width: 20em;
        }
    } 
    
        h2 {
            font-size: 1.5em;
            font-weight: 700;
            margin: 0;
        }

        .cart__empty {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 5em;
        }

        .cart__empty-img {
            width: 7.5em;
            height: 7.5em;
            margin-bottom: 1.8em;
        }

        .cart__empty-btn {
            display: flex;    
            background: #282B1E;
                color: #F5F5F5;
                border-radius: 1.1em;
                font-size: 1.2em;
                font-weight: 600;
                padding: 1.1em 4em;
                margin-top: 1.8em;
                transition: opacity 0.2s ease-in-out;
       
            &:hover {
                opacity: 0.8;
            }
        }

        .cart__item {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #F3F3F3;
            border-radius: 1.2em;
            overflow: hidden;
            padding: 0em 1em 1em 1em;
            margin-top: 1.8em;
            margin-bottom: 1.8em;
        }

            img {
                width: 4.3em;
                height: 4.3em;
                margin-right: 1.25em;

            }

            .cart__text {
                margin-right: 1.25em;
            }

                p {
                    margin-bottom: 0.3em;
                    font-size: 1em;
                }

                b {
                    font-size: 0.9em; 
                }

            .plus__icon,
            .cross__icon,
            .cross__icon-delete {
                cursor: pointer;
                transition: opacity 0.15s ease-in-out;
                width: 2em;
                height: 2em;

                &:hover {
                    opacity: 0.6;
                }
            }

            .cross__icon-search {
                width: 1.5em;
                height: 1.5em;
            }

            .favorite__icon-checked {
                cursor: pointer;
                width: 2em;
                height: 2em;
            }

    .side__block-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .items__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 3em;
    }
        .items {
            flex: 1;
            overflow: auto;
            margin-bottom: 1.25em;
        }
        
        .list {
            margin-bottom: 3em;
        }
        
            .list__item {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 1em;
            }
                .separator {
                    flex: 1;
                    border: 1px dashed #DFDFDF;
                    position: relative;
                    margin: 0 7px;
                }
            .btn__wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .btn__buy {
                background: #282B1E;
                color: #F5F5F5;
                border-radius: 1.1em;
                font-size: 1.2em;
                font-weight: 600;
                padding: 1.1em 8em;
                transition: opacity 0.2s ease-in-out;

                &:hover {
                    opacity: 0.8;
                }
            }
    footer {
        width: 100%;
    }
        .footer__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 3em;
        }

            .footer__about {
                margin-top: 5em;
            }

            .footer__bottom {
                width: 60%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;


                @media screen and (max-width: $medium) {
                    flex-direction: column;
                }
            }
                ul {
                    padding-left: 0;
                }

                li {
                    padding-bottom: 0.5em;
                }



               